@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border text-dravys-gray bg-isabelline;
  }
}

@layer components {
  .container-bg {
    @apply text-sm bg-isabelline shadow-md;
  }
  .px-container {
    @apply px-10;
  }
  .py-container {
    @apply py-10;
  }
}

@layer utilities {
  .bg-home-banner {
    height: 80vh;
    background-image: url('/assets/banners/kitchen.jpeg');
    background-size: cover;
    background-position: center;
  }

  .bg-common-banner {
    height: 40vh;
    background-image: url('/assets/banners/common.jpeg');
    background-size: cover;
    background-position-y: center;
  }

  @media screen and (max-width: 640px) {
    .bg-common-config {
      background-position-x: center;
    }
  }
}