@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border text-dravys-gray bg-isabelline;
  }
}

@layer components {
  .container-bg {
    @apply text-sm bg-isabelline shadow-md;
  }
  .px-container {
    @apply px-10;
  }
  .py-container {
    @apply py-10;
  }

  .projects-layout {
    @apply [&>*:nth-child(4n-2)]:md:col-span-5 [&>*:nth-child(4n-3)]:md:col-span-3 [&>*:nth-child(4n-1)]:md:col-span-5 [&>*:nth-child(4n)]:md:col-span-3;
  }
}

@layer utilities {
  .bg-home-banner {
    height: 80vh;
    background-image: url('/assets/banners/kitchen.jpeg');
    background-size: cover;
    background-position: center;
  }

  .embla {
      backface-visibility: hidden;
      display: flex;
      touch-action: pan-y;
  }
  .embla-slide {
    min-width: 0;
    position: relative;
  }

  @media screen and (max-width: 780px) {
    .embla-slide {
      flex: 0 0 50%;
    }
  }
  @media screen and (max-width: 640px) {
    .bg-home-banner {
      height: 100vh;
    }
    .bg-common-config {
      background-position-x: center;
    }
  }
}